/* https://css-tricks.com/old-timey-terminal-styling/ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

body {
  background-color: black;
  /* background-image: radial-gradient( */
  /* rgba(4, 87, 104, 0.75), black 120% */
  /*rgba(0, 150, 0, 0.75), black 120%*/
  /* ); */
  height: 100vh;

  color: white;
  font: 1.3rem "Ubuntu", sans-serif;
  text-shadow: 0 0 12px #c8c8c88a;

  background-image: [img[assets/img/pixel/cave-with-pool-mfbehrens99.png]];
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  margin: 0px;
  padding: 0px;
}

/*
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
  pointer-events: none;
}
*/

::selection {
  background: #0080ff;
  text-shadow: none;
}

.red {
  color: #5b2325;
  text-shadow: none;
}
.green {
  color: #29592d;
  text-shadow: none;
}

table {
  background: #000;
  padding: 0px;
  margin: 0px;
}
td {
  padding: 0px;
  margin: 0px;
  background: rgba(4, 87, 104, 0.75);
  width: 20px;
  height: 20px;
}
td.active {
  background: #fff;
}
td.visited {
  background: rgba(7, 52, 61, 0.75);
}
tr {
  padding: 0px;
  margin: 0px;
}

/* grid layout */
/* .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "main main stats"
    "main main map"; */
  /* "messages messages messages"; */
/* }

.container .main,
.container .stats,
.container .map {
  border: 1px #333 solid;
  padding: 5px;
  background-image: radial-gradient(
    rgba(4, 87, 104, 0.75), */
    /* black 120%  */
    /*rgba(0, 150, 0, 0.75), black 120%*/
  /* );
  border-radius: 5px;
  /* height: 100vh; */
/*}
.main {
  grid-area: main;
}
.stats {
  grid-area: stats;
}
.map {
  grid-area: map;
  display: grid;
  justify-content: center;
  align-items: center;
}
.messages {
  grid-area: messages;
} */

.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.game-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "main main nav"
    "main main map"
    "messages messages messages";
  grid-area: 1 / 1 / 2 / 2;

}

.main { grid-area: main; }

.nav {
  background-image: [img[assets/light-paper-fibers.png]];
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "northwest north northeast"
    "west wait east"
    "southwest south southeast";
  grid-area: nav;

  align-items: center;
  justify-items: center;
}

.main, .map, .messages {
  background-image: radial-gradient(
  rgba(4, 87, 104, 0.75), black 120%
  );
}

.main, .map, .nav, .messages {
  border: 1px #333 solid;
  padding: 5px;
  border-radius: 10px;
}

.map {
  grid-area: map;
  display: grid;
  justify-content: center;
  align-items: center;
}

.northwest { grid-area: northwest; }
.north { grid-area: north; }
.northeast { grid-area: northeast; }
.east { grid-area: east; }
.southeast { grid-area: southeast; }
.south { grid-area: south; }
.southwest { grid-area: southwest; }
.west { grid-area: west; }
.wait { grid-area: wait; }
.map { grid-area: map; }
.messages { grid-area: messages; }

.nav .macro-button {
  /* background-color: transparent !important; */
  background: rgba(157, 235, 69, 0.2) !important;
  border: 1px #333 solid;
  padding: 5px;
  border-radius: 10px;
}
.nav .macro-button:hover {
  background: rgba(9, 59, 116, 0.6) !important;
}

.empty {
  background: #000;
}
.cavern {
  background: rgb(97, 86, 24);
}
.tight {
  background: rgb(240, 99, 17);
}
.stream {
  background: rgb(57, 167, 218);
}
.pool {
  background: rgb(9, 59, 116);
}
.void {
  background: rgb(209, 25, 255);
}

/* Drunk Text - Start 
c/o: https://qjzhvmqlzvoo5lqnrvuhmg-on.drv.tw/UInv/Sample_Code.html#Drunk%20Text
*/
.drunk {
  animation: drunkCam 10s infinite alternate;
  color: white;
}
@keyframes drunkCam {
  0% {
    filter: blur(0px);
    text-shadow: 0 0 0 grey;
  }
  20% {
    filter: blur(1px);
    text-shadow: 8px 0 0 grey;
  }
  24% {
    filter: blur(0px);
    text-shadow: 0 0 0 grey;
  }
  26% {
    filter: blur(0px);
    text-shadow: 0 0 0 grey;
  }
  28% {
    filter: blur(1px);
    text-shadow: 10px 0 0 grey;
  }
  30% {
    filter: blur(0px);
    text-shadow: 0 0 0 grey;
  }
  60% {
    filter: blur(1px);
    text-shadow: 5px 0 0 grey;
  }
  62% {
    filter: blur(0px);
    text-shadow: 0 0 0 grey;
  }
  65% {
    filter: blur(2px);
    text-shadow: 8px 0 0 grey;
  }
  67% {
    filter: blur(0px);
    text-shadow: 0 0 0 grey;
  }
  80% {
    filter: blur(0px);
    text-shadow: 8px 0 0 grey;
  }
  85% {
    filter: blur(2px);
    text-shadow: 10px 0 0 grey;
  }
  88% {
    filter: blur(1px);
    text-shadow: 5px 0 0 grey;
  }
  90% {
    filter: blur(0px);
    text-shadow: 0 0 0 grey;
  }
}

.event {
  color: #ff00ff;
}
/* Drunk Text - End */

/* Background animation */
/* CSS background: https://codepen.io/Mr_Smith/pen/YPLoKW */
@-webkit-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@-moz-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@-o-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

#back {
  background: [img[assets/back.png]] repeat 20% 20%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  z-index: -1;
  -webkit-animation-name: backgroundAnimate;
  -webkit-animation-duration: 500s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: backgroundAnimate;
  -moz-animation-duration: 5s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: backgroundAnimate;
  -o-animation-duration: 500s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: backgroundAnimate;
  animation-duration: 500s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#front {
  background: [img[assets/front.png]] repeat 35% 35%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
  -webkit-animation-name: backgroundAnimate;
  -webkit-animation-duration: 300s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: backgroundAnimate;
  -moz-animation-duration: 300s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: backgroundAnimate;
  -o-animation-duration: 300s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: backgroundAnimate;
  animation-duration: 300s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
