/* https://css-tricks.com/old-timey-terminal-styling/ */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
  background-color: black;
  /* background-image: radial-gradient( */
    /* rgba(4, 87, 104, 0.75), black 120% */
    /*rgba(0, 150, 0, 0.75), black 120%*/
  /* ); */
  height: 100vh;

  color: white;
  font: 1.3rem 'Ubuntu', sans-serif;
  text-shadow: 0 0 12px #c8c8c88a;

  background-image: [img[assets/img/pixel/cave-with-pool-mfbehrens99.png]];
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  margin: 0px;
  padding: 0px;
}

/*
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
  pointer-events: none;
}
*/

::selection {
  background: #0080FF;
  text-shadow: none;
}

.red {
  color: #5b2325;
  text-shadow: none;
}
.green {
  color: #29592d;
  text-shadow: none;
}

table {
  background: #000;
  padding: 0px;
  margin: 0px;
}
td {
  padding: 0px;
  margin: 0px;
  background:rgba(4, 87, 104, 0.75);
  width: 20px;
  height: 20px;
}
td.active {
  background: #fff;
}
td.visited {
  background:rgba(7, 52, 61, 0.75);
}
tr {
  padding: 0px;
  margin: 0px;
}

/* grid layout */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "main main stats"
    "main main map";
    /* "messages messages messages"; */
}

.container .main,
.container .stats,
.container .map {
  border: 1px #333 solid;
  padding: 5px;
  background-image: radial-gradient(
    rgba(4, 87, 104, 0.75), black 120%
    /*rgba(0, 150, 0, 0.75), black 120%*/
  );
  border-radius: 5px;
  /* height: 100vh; */
}
.main { grid-area: main; }
.stats { grid-area: stats; }
.map { 
  grid-area: map; 
  display: grid;
  justify-content: center;
  align-items: center;
}
.messages { grid-area: messages; }

.empty { background: #000; }
.cavern { background: rgb(97, 86, 24); }
.tight { background: rgb(240, 99, 17); }
.stream { background: rgb(57, 167, 218); }
.pool { background: rgb(9, 59, 116); }
.void { background: rgb(209, 25, 255); }

/* Drunk Text - Start 
c/o: https://qjzhvmqlzvoo5lqnrvuhmg-on.drv.tw/UInv/Sample_Code.html#Drunk%20Text
*/
.drunk {
	animation: drunkCam 10s infinite alternate;
	color: white;
}
@keyframes drunkCam {
	0%  { filter: blur(0px); text-shadow: 0 0 0 grey; }
	20% { filter: blur(1px); text-shadow: 8px 0 0 grey; }
	24% { filter: blur(0px); text-shadow: 0 0 0 grey; }
	26% { filter: blur(0px); text-shadow: 0 0 0 grey; }
	28% { filter: blur(1px); text-shadow: 10px 0 0 grey; }
	30% { filter: blur(0px); text-shadow: 0 0 0 grey; }
	60% { filter: blur(1px); text-shadow: 5px 0 0 grey; }
	62% { filter: blur(0px); text-shadow: 0 0 0 grey; }
	65% { filter: blur(2px); text-shadow: 8px 0 0 grey; }
	67% { filter: blur(0px); text-shadow: 0 0 0 grey; }
	80% { filter: blur(0px); text-shadow: 8px 0 0 grey; }
	85% { filter: blur(2px); text-shadow: 10px 0 0 grey; }
	88% { filter: blur(1px); text-shadow: 5px 0 0 grey; }
	90% { filter: blur(0px); text-shadow: 0 0 0 grey; }
}

.event {
  color: #ff00ff;
}
/* Drunk Text - End */